<%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :nemo %><br>
    <%= f.text_field :nemo %>
  </div>
  <div class="field">
    <%= f.label :volumen_total %><br>
    <%= f.number_field :volumen_total %>
  </div>
  <div class="field">
    <%= f.label :rotacion_mensual %><br>
    <%= f.text_field :rotacion_mensual %>
  </div>
  <div class="field">
    <%= f.label :nuemro_ops %><br>
    <%= f.text_field :nuemro_ops %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
